*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}
/*------varribally---------------*/
:root{
    --main-color:#2323c6;
    --pink-color:#240893;
    --pink-opacity: #ffe6e9;
    --white-alfa-40 : rgba(255, 255, 255, 0.40);
    --white-alfa-25 : rgba(255, 255, 255, 0.25);
    --backdrop-filter: blur(5px);
    --padding: 5vh 15px;
    --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.40);
}
/*------global setting-------*/
body {
    background-image:  url('../image/body.jpg');
}
html{
    scroll-behavior: smooth;
}
button,
input {
    border: none;
}
.btn{
    display: inline-block;
    padding: .5rem 3rem;
    margin-top: 1rem;
    background-color: #6c6ced;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 100;
    font-size: 1.3rem;
    text-transform: capitalize;

}
.btn::before{
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    background-color: #becee1;
    left: 0;
    top: 0;
    transition: .5s;
    z-index: -10;
}
.btn:hover::before{
    width: 100%;
}
.empty{
    border-radius: .5rem;
    background-color: var(--white-alfa-25);
    border: 2px solid var(--white-alfa-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    text-align: center;
    font-weight: 100%;
    text-transform: capitalize;
    line-height: 2; 
    color: var(--main-color);
    margin: 2rem auto;
}
.empty p{
    font-size: 26px;
    margin-bottom: 2rem;

}
input[type='submit']{
    cursor: pointer;
}
input[type='submit']:hover{
    color: var(--main-color);
}
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: center;
    justify-content: center;
}
.box-container .box{
    margin: 1rem;
    border-radius: .5rem;   
}
.heading{
    font-size: 19px;
    text-align: center;
    line-height: 1.5;
}
.heading h1{
    font-size: 2rem;
    text-transform: capitalize;
}
.heading span{
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 20px;
}
.heading img{
    margin-top: .5rem;
    width: 150px!important;
}
section {
    padding: 6%;
}
.flex-btn{
    display: flex;
    justify-content: space-between;
}
.flex-btn .btn{
    margin: .5rem;
}
.banner {
    margin-top: 5rem;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    animation: banner 8s infinite alternate; /* Tổng thời gian 8s (mỗi ảnh 4s) */
}

@keyframes banner {
    0%, 50% {
        background-image: url('../image/banner-1.jpg'); /* Hiển thị ảnh đầu trong 4s */
    }
    50.01%, 100% {
        background-image: url('../image/main-banner.jpg'); /* Hiển thị ảnh thứ hai trong 4s */
    }
}


.banner .detail{
    padding-left: 4%;
    line-height: 1.5;
}
.banner .detail p{
    font-size: 20px;
    color:#1b0000;
    margin-bottom: 1rem;
}
.banner .detail span{
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: 1rem;
}
.banner .detail a{
    color: #000;
}
.banner .detail span i{
    margin: 0 1rem;
}
.banner h1{
    font-size: 3rem;
    color: var(--main-color);
    text-transform: capitalize;
}
/*------cusston scrollbar-------*/
::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-thumb{
    -webkit-border-radius: 20px;
    border-radius: 20px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--pink-color);
    position: relative;
}
::-webkit-scrollbar-track{
    background: transparent;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    height: 50px;
    margin: 10px 30px;
}
.form-container {
    background-image: url('../image/p.png');  
    background-size: cover;  
    background-repeat: no-repeat;  
    background-position: center;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    min-height: 100vh;  
    position: relative;  
    padding: 5% 0;  
    }  
.form-img {  
    position: absolute;  
    left: 0;  
    width: 30%;  
    z-index: -3;  
}  
.form-container form {  
    background-color: var(--white-alfa-25);  
    border: 2px solid var(--white-alfa-40);  
    backdrop-filter: var(--backdrop-filter);  
    box-shadow: var(--box-shadow); 
    border-radius: .5rem;
    padding: 2rem;
} 
.form-container .login {  
    width: 50rem;  
}        
.form-container .register {  
    width: 60rem;  
}        
.form-container .register .img-box {  /*ảnh đại diện update profile */
    text-align: center;
}  

.form-container .register img {  
    width: 180px;  
    height: 180px;  
    border-radius: 50%;  
    text-align: center;  
    padding: 10px;  
    background-color: var(--main-color);  
 }
 .form-container form h3{  
    text-align: center;  
    font-size: 2rem;  
    margin-bottom: 1rem;  
    color: var(--main-color);  
    text-transform: capitalize;  
    font-weight: bold;  
}  
.form-container form p{     
    padding-top: 1rem;  
    font-size: 1.2rem;  
    color: #666;  
    text-transform: capitalize;  
}  
.form-container form p span{  
    color: red;  
}  

.form-container .link{  
    padding-top: 1rem;  
    font-size: 1.2rem;  
    text-transform: capitalize;  
}  
.form-container form .link a{  
    color: var(--main-color);  
}
.form-container form .box{  
    background-color: var(--white-alfa-25);  
    border: 2px solid var(--white-alfa-40);  
    backdrop-filter: var(--backdrop-filter);  
    box-shadow: var(--box-shadow);  
    width: 100%;  
    border-radius: .5rem;  
    margin: .5rem 0;  
    padding: 1rem; 
    font-size: 18px; 
}  
.form-container form textarea{  
    height: 20rem;  
    resize: none;  
}  
.form-container .flex {  
    display: flex;  
    gap: 2rem;  
}   
.form-container .flex .col {  
    flex: 1 1 25rem;  
}  

.form-container .btn {  
    width: 100%;  
    font-size: 1.3rem;  
}  
.form-container .btn:hover {  
    background-color: #000;
    color: #fff; 
}  
.form-container .image {  
    height: 30rem;  
}
.post-editor .image{
    width: 100%;
    height: 100%;
}
/*------header-------*/
.header {  
    padding: .5rem 4%;  
    background-color: #fff;  
    box-shadow: var(--box-shadow);  
    position: sticky;  
    left: 0;  
    top: 0;  
    right: 0;  
    z-index: 1000;  
}  

.header .flex {  
    padding: .5rem 2rem;  
    position: relative;  
    display: flex;  
    align-items: center;  
    justify-content: space-between;  
}  

.header .flex .search-form {  
    position: absolute;  
    top: 100%;  
    right: 0;  
    width: 30rem;  
    padding: 1rem;  
    display: flex;  
    justify-content: space-between;  
    border-top: 1px solid #ccc;  
    border-bottom: 1px solid #ccc;  
    background-color: #fff;  
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);  
    transition: .5s linear;  
}  
    
.header .flex .search-form.active {  
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);  
}  
    
.header .flex .search-form button {  
    font-size: 2rem;  
    color: var(--main-color);  
    cursor: pointer;  
    background-color: transparent;
}  
    
.header .flex .icons {  
    display: flex;  
}  
    
.header .flex .icons div,  
.header .flex a {  
    font-size: 1.5rem;  
    color: #2828c1;  
    cursor: pointer;  
    margin-left: .5rem;  
}

header .flex sup {  
    width: 20px;  
    height: 20px;  
    border-radius: 50%;  
    background-color: var(--main-color);  
    position: absolute;  
    top: 20%;  
    color: #fff;  
    line-height: 20px;  
    margin-left: -.5rem;  
    text-align: center;  
}  
    
#menu-btn {  
    display: none;  
}
 
header .flex .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
     justify-content: center;
     position: absolute;
     top: 120%;
     right: 0;
     background-color: #fff;
     border-radius: .5rem;
     padding: 2rem;
     text-align: center;
     width: 30rem;
     transform: scale(0);
    transform-origin: top right;
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
}
.header .flex .profile.active {  
    transform: scale(1.0);  
    transition: .2s linear;  
}  

.header .flex .profile img {  
    width: 9rem;  
    height: 9rem;  
    border-radius: 50%;  
    object-fit: cover;  
    margin-bottom: .5rem;  
    padding: .6rem;  
    background-color: var(--main-color);  
}  

.header .flex .profile h3 {  
    font-size: 2rem;  
}  

.header .flex .navbar {  
    display: flex;  
    margin: .5rem 0;  
}  

.header .flex .navbar a {  
    font-size: 1.3rem;  
    margin: 0 .5rem;  
    text-transform: capitalize;
    color: #000;
}
.header .flex .navbar a:hover {
    color: var(--main-color);
}

/*------footer section-------*/
.newsletter{  
    width: 100%;  
    background-image: url('image/—Pngtree.jpg');
    animation: banner 3s infinite alternate;
    background-size: cover;  
    background-repeat: no-repeat;  
    background-position: center;  
    min-height: 100vh;  
    display: flex;  
    justify-content: flex-start;  
    align-items: center;  
    padding: 0 5%;  
}  
.newsletter .box-detail{  
    text-align: center;  
}  
.newsletter .box-detail h1{  
    text-transform: capitalize;  
}  

.newsletter .box-detail p{  
    font-size: 25px;  
    line-height: 1.5;  
    color: #18131e;  
    margin: 1rem 0;
}
.newsletter .box-detail input {  
    width: 40rem;  
    padding: 1.5rem;  
    border: none;  
}  
.newsletter .box-detail .icons i {  
    background-color: var(--pink-opacity);  
    border: 2px solid var(--main-color);  
    backdrop-filter: var(--backdrop-filter);  
    box-shadow: var(--box-shadow);  
    width: 50px;  
    height: 50px;  
    border-radius: 50%;  
    color: var(--main-color);  
    line-height: 50px;  
    text-align: center;  
    transition: .5s;  
    font-size: 1.5rem;  
    cursor: pointer;  
    margin: 1rem;  
}  
.newsletter button {  
    border: none;  
}
.client {  
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));  
    align-items: center;  
    justify-content: center;  
    padding: 4% 0;  
    margin: 0 auto;  
}  
.client .img-box {  
    text-align: center;  
    cursor: pointer;  
}
.client img{  
    filter: grayscale(1);  
}  
.client img:hover {  
    filter: grayscale(0); 

}


footer{
    background-image: url('image/footer.png');
    background-size: cover;
    padding: 20px 0 0;
    width: 100%;
}
footer .content{
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));  
    align-items: center;  
    justify-content: center;  
}
footer .content .box{
    margin: 1rem;
    line-height: 1.7rem;
    color: #000;
}
footer .content .box h3{
    text-transform: capitalize;
    margin-bottom: .5rem;
}
footer .content .box a{
    font-size: 19px;
    display: block;
    color: #000;
    text-transform: capitalize;
}
footer .content .box a:hover{
    color: var(--main-color);
}
footer .content .box i{
    margin-right: .5rem;
}
footer .content .box p{
    font-size: 18px;
    line-height: 1.5;
}
footer .content .box .icons{
    margin-top: 1rem;
}
footer .content .box .icons i{
    background-color: var(--pink-opacity);  
    border: 1px solid var(--main-color);  
    box-shadow: var(--box-shadow);  
    cursor: pointer;  
    margin: .3rem;  
    width: 40px;  
    height: 40px;  
    border-radius: 50%;  
    color: var(--main-color);  
    line-height: 40px;  
    text-align: center;  
    transition: .5s;  
}
footer .bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 2rem;
    border-top: 1px solid #fff;
    line-height: 2;
    color: #000;
}
footer .bottom a{
    text-transform: capitalize;
    color: #000;
    font-weight: bold;
}
/*-----home slider---------*/  
.slider-container .container {  
    position: relative;  
    perspective: 1000;  
}  

.slider-container .container .slider-item {  
    position: relative;  
    width: 100%;  
    margin: 0 auto;  
    text-align: center;  
    display: none;  
    transform-style: preserve-3d;  
    animation: slide .4s linear;  
}  

@keyframes slide {  
    0% {  
        transform: rotateX(180deg);  
    }  
}
.slider-container .container .slider-item > * {
    animation: slideContent .2s linear .4s backwards;
}

@keyframes slideContent {
    0% {
        transform: scale(.5);
        opacity: 0;
    }
}

.slider-container .container .slider-item.active {
    display: block;
}

.slider-container .container .slider-item img {
    width: 95%;
}

.left-arrow,  
.right-arrow {  
    position: absolute;  
    top: 60%;  
    transform: translateY(-50%);  
    width: 64px;  
    height: 64px;  
    line-height: 64px;  
    background-color: #fff;  
    z-index: 2;  
    cursor: pointer;  
    font-size: 3rem;  
    color: #000;  
}  

.right-arrow {  
    right: 1rem;  
}  

.left-arrow {  
    left: 1rem;  
}

.services {  
    padding: 6% 3%;  
}  

.services .box-container .box {  
    box-shadow: var(--box-shadow);
    background-color: #f3f1e1;  
    display: flex;  
    align-items: center;  
    justify-content: space-evenly;  
    padding: 2rem;  
    text-transform: capitalize;  
    text-align: center;  
    line-height: 1.5;  
}  

.services .box-container .box.detail {  
    padding-left: 2rem;  
}  

.services .box-container .box h4 {  
    font-size: 1.4rem;  
    text-transform: capitalize;  
    margin-bottom: .5rem; 
}
.services .box-container .box span{
    font-size: 1.1rem;
    text-transform: capitalize;
}


.frame-container {
    padding: 4% 0;
    overflow-x: hidden;
}
.frame-container .box-container{
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.frame-container .box {
    display: flex;
    flex: 1 1 40rem;
    width: 100%;
    gap: 1rem;
    box-shadow: none;
}

.frame-container .box-detail,
.frame-container .box-detail div {
    position: relative;
}

.frame-container .box-detail .img {
    height: 100%;
    width: 100%;
    margin-top: 0;
}
.frame-container .box .img-detail {  
    position: absolute;  
    top: 20%;  
    width: 100%;  
    text-align: center;  
    color: #000;  
}  

.frame-container .box .detail {  
    position: absolute;  
    left: 5%;  
    top: 30%;  
    color: #000;  
    text-align: center;  
}  

.frame-container .box div img {  
    vertical-align: middle;  
    display: inline-block;  
    height: auto;  
    max-width: 100%;  
    margin: .5rem;  
}  

.frame-container .box div h1 {  
    margin-bottom: 2rem;  
}  

.frame-container .frame {  
    flex: 1 1 40rem;  
    width: 100%;  
    height: 96%;  
    background-color: #eee;  
    background-position: center;  
    background-size: cover;  
    animation: image 2s infinite alternate;  
    position: relative;  
}


@keyframes image{
    0%{
        background-image: url('../image/frame.webp');
    }
    100%{
        background-image: url('../image/frame0.webp');
    }
}

.frame-container .frame .detail{
    position: absolute;
    right: 10%;
    top: 30%;
}

.frame-container .frame .detail span,
.img-detail span{
    text-transform: uppercase;
    font-size: 1.2rem;
}
.frame-container .frame .detail h2{
    font-size: 2rem;
    color: var(--main-color);
    font-style: italic;
    margin: .5rem 0;
}
.frame-container .frame h1{
    text-transform: capitalize;
}
.about-us {  
    padding: 5% 0;  
}  

.about-us .img-box {  
    display: flex;  
    gap: 1rem;  
    position: relative;  
}  

.about-us .img-box .play {  
    width: 80px;  
    height: 80px;  
    border-radius: 50%;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    position: absolute;  
    left: 46%;  
    top: 40%;  
    font-size: 3rem;
    background-color: #fff;
    color:var(--main-color);
    border: 10px solid #e7246333;
    cursor: pointer;
}
.about-us .img-box img{  
    width: 50%;  
}  

.about-us .img-box .img{  
    margin-top: -3rem;  
}  

.about-us .box{  
    padding: 1rem;  
    text-align: center;  
}  

.about-us .box h1{  
    margin-bottom: 1rem;  
}  

.about-us .box span{  
    font-size: 1rem;  
    text-transform: uppercase;  
    color: var(--main-color);
    line-height: 2;
}
.about-us .box p{
    line-height: 1.7;
    color: #666;
    margin: 2rem 0;
    font-size: 1.1rem;
}
.about-us .box .btn{
    margin: 1rem;
}
.menu-banner{
    width: 100%;
}
.sub-banner .box-container{
    padding: 1rem;
    gap: 1rem;
}
.sub-banner .box-container img{
    width: 100%;
}
.categories{
    padding: 4%;
}
.categories .box-container{
    padding-top: 4%;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.categories .box-container .box{
    margin: .5rem;
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    border-radius: 0px ;
}
.categories .box-container .box .detail{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-color: #fff;
    height: 5rem;
    padding: 1rem 0;
    transition: .7s ease;
}
.categories .box-container .box:hover .detail {  
    height: 10rem;  
}  

.categories .box-container .box .detail span {  
    text-transform: capitalize;  
    color: red;  
    font-size: 20px ;
}  
.categories .box-container .box h1 {
   text-transform: capitalize; 
}  

.categories .box-container .box:hover img {  
    transform: scale(1.1);  
}  

.categories .box-container .box img {  
    width: 100%;  
    transition: .5s;  
}
.offer{
   padding: 4% 1%; 
}
.offer .box-container{
    padding-top: 4%;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.offer .box-container .box{
    position: relative;
    margin-bottom: 4rem;
    border-bottom:5px solid var(--main-color) ;
    box-shadow: var(--box-shadow);
}
.offer .box-container .box .detail {  
    position: absolute;  
    bottom: 0;  
    width: 100%;  
    text-align: center;  
    background-color: #fff6;  
    height: 5rem;  
    padding: 1rem 0;  
    transition: .7s ease;  
    overflow: hidden;  
    padding-bottom: 1rem;  
}  

.offer .box-container .box:hover .detail {  
    height: 14rem;  
}  

.offer .box-container .box .detail h1 {  
    font-size: 1.8rem;  
    text-transform: capitalize;  
    color: var(--main-color);  
    padding: 1rem 0;  
}
.offer .box-container .box img{
    width: 100%;
    transition: .5s;
}
.offer-1 {  
    background-image: url('../image/bg.jpg.jpg');  
    background-repeat: no-repeat;  
    background-size: cover;  
    background-position: center;  
    display: flex;  
    justify-content: flex-start;  
    align-items: center;  
    text-align: center;  
    min-height: 100vh;  
    padding: 5%;  
}  

.offer-1 .detail {  
    max-width: 50vw;  
}  

.offer-1 .detail h1 {  
    font-weight: bold;  
    color: var(--main-color);  
    text-transform: capitalize;  
    margin-bottom: 1rem;  
}
.offer-1 .detail p {  
    line-height: 1.5;  
    font-size: 18px;  
    color:#f4eeee;  
}  

.offer-1 .container {  
    color: #333;  
    margin: 0 auto;  
    text-align: center;  
    margin-bottom: 2rem;  
}  

.offer-1 h1 {  
    font-weight: bold;  
    letter-spacing: .125rem;  
    text-transform: uppercase;  
}  

.offer-1 li {  
    display: inline-block;  
    font-size: 1.5rem;  
    padding: 1rem;  
    text-transform: uppercase;  
}
.offer-1 span {
    display:block;
    font-size: 4.5rem;
} 

.offer-2 {  
    display: flex;  
    justify-content: flex-start;  
    align-items: center;  
    background-image: url('../image/img1.jpg');  
    background-position: center;  
    min-height: 100vh;  
    padding-left: 5%;  
}  

.offer-2 .detail {  
    max-width: 40vw;  
    text-align: center;  
}  

.offer-2 .detail p {  
    color: #666;  
    font-size: 1.1rem;  
    margin-top: 1rem;  
    margin-bottom: 2rem;  
    line-height:1.5 ;
}
.guarantee {  
    background-image: url('../image/bg.png');  
    background-position: center;  
    background-repeat: no-repeat;  
    background-size: cover;  
    padding: 4%;  
    position: relative;  
}  
.guarantee .box-container{
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.guarantee .box {  
    margin: 1rem;  
    box-shadow: var(--box-shadow);  
    text-align: center;  
    position: relative;  
}  
.guarantee .box:hover .detail {  
    height: 12rem;  
}
.guarantee .box .detail {  
    position: absolute;  
    left: 0;  
    bottom: 0;  
    width: 100%;  
    height: 5rem;  
    background-color: #fff;  
    padding: 1rem;  
    overflow: hidden;  
    transition: .5s;  
}  

.guarantee .box .detail h1 {  
    font-weight: 400;  
    color: var(--main-color);  
    margin: 1rem;  
    text-transform: capitalize;  
}  

.guarantee .box .detail p {  
    font-size: 16px;  
    color: #666;  
    line-height: 1.5;
}
.guarantee .box img{
    width: 100%;
}
/*------ about us section -----------*/  
.who {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: #f9f9f9; /* Màu nền gần giống giao diện */
}

.who .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.who .box {
    flex: 1;
    line-height: 1.8;
    text-align: left; /* Căn trái nội dung văn bản */
    position: relative;
    margin: 1rem;
}

.who .box .heading span {
    font-size: 1.2rem;
    color: #2a51b5; /* Màu nhấn cho "Who We Are" */
    text-transform: uppercase;
    display: block;
    margin-bottom: 0.5rem;
}

.who .box .heading h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1.5rem;
}

.who .box p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 2rem;
}

.who .flex-btn {
    display: flex;
    gap: 1rem;
}

.who .flex-btn .btn {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    background-color: #4d3ce7;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.who .flex-btn .btn:hover {
    background-color: #c0392b;
}

.who .img-box {
    flex: 1;
    position: relative;
}

.who .img-box .img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.who .img-box .shape {
    position: absolute;
    bottom: -10px;
    left: -10px;
    width: 80%;
    height: auto;
    opacity: 0.7; /* Hiệu ứng mờ */
}
.who .flex-btn{
    justify-content: center;
}
.use {  
    padding: 0 6%;  
    background-image: url('../image/maa.jpg');  
    background-size: cover;  
}  

.use .box-container .box h1 {  
    color: var(--main-color);  
    margin-bottom: 1rem;  
    text-align: center;

}  
.use .box-container .box p {  
    line-height: 1.5;
    text-align: center;
}

.use .box-container .box .icon {  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    margin-top: 2rem;  
}

.use .box-container .box .icon .icon-detail {  
    display: flex;  
    align-items: center;  
    background-color: var(--white-alfa-25);  
    border: 2px solid var(--white-alfa-40);  
    backdrop-filter: var(--backdrop-filter);  
    box-shadow: var(--box-shadow);  
    padding: 1rem;  
    border-radius: .5rem;  
}  

.use .box-container .box .img {  
    width: 90%;  
    background-image: url('../image/mask.png');  
    background-size: contain;  
    background-position: center;  
    background-repeat: no-repeat;  
    margin-bottom: -1.1rem;  
}  

.use .box-container .box .icon .img-box {  
    width: 60px;  
    height: 60px;  
    border: 2px solid #000;  
    border-radius: 50%;  
    padding: .5rem;  
}
.use .box-container .box .icon .img-box img{  
    width: 100%;  
    object-fit: contain;  
    margin-right: 1rem;  
}  

.use .box-container .box .icon .icon-detail p{  
    margin-left: 1rem;  
    text-transform: capitalize;  
    font-size: 1.3rem;  
}  

.use .flex-btn{  
    margin-top: 3rem;  
    justify-content: center;
}

.cms-banner{  
    max-width: 1300px;  
    margin: 4rem auto;  
}  

.cms-banner .box-container .box{  
    position: relative;  
    margin: 1rem;  
    overflow: hidden; 
    border-radius: 0px; 
}  

.cms-banner .box-container .box:hover img{  
    transform: scale(1.1);  
}  

.cms-banner .box-container .box img{  
    width: 100%;  
    transition: .5s;  
}  

.cms-banner .box-container .box .detail{  
    position: absolute;  
    right: 5%;  
    top: 30%;  
}
.cms-banner .box-container .box .detail h1{ 
    margin: 1rem 0;
} 
.cms-banner .box-container .box .detail span{
    font-size: 1.1rem;
    text-transform: capitalize;
} 
/*----------------clip 10 50p--------*/
.story{
    background-image: url('../image/bg.avif');
    background-size: cover;
    padding: 5% 0;
    prefix: 4%;
    min-height: 100vh;
    position: relative;
}
.story .box{
    position: absolute;
    right: 5%;
    top: 20%;
    max-width: 50vw;
    text-align: center;
}
.story .box h1{
    padding-bottom: 1rem;

}
.story .box p{
    line-height: 1.7;
    font-size: 1.2rem;
}
.team{
    padding: 100px 6%;

}
.team .box-container{
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.team .box-container .box{
    box-shadow: var(--box-shadow);
    overflow: hidden;
    position: relative;
}
.team .box-container .box .img{
    width: 100%;
    transition: .5s;
}
.team .box-container .box:hover .img{
    transform: scale(1.1);
}
.team .box-container .box .content{
    position: absolute;  
    left: 0;  
    bottom: 0;  
    width: 100%;  
    height: 3.5rem;  
    padding: 1rem;  
    overflow: hidden;  
    transition: .5s;  
    padding-top: .3rem;  
    background-color: #fff;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.8 ;
}
.team .box-container .box .content p{
    font-size: 1.3rem;
    color: var(--main-color);
}

.team .box-container .box:hover .content{
    height: 6rem;
}
.about{
    padding: 4% 6%;
    background-image: url('../image/img2.jpg');
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.about .box-container{
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: 50vw;
}
.about .box-container span{
    font-size: 1.3rem;
}
.about p{
    color: gray;
    line-height: 1.6;
    font-size: 18px;
    margin: 1rem 0;
    text-align: center;
}

.choose{
    padding: 0 4%;
}
.choose .img-box{
    position: relative;
    text-align: center;
}
.choose img{
    width: 80%;
    margin: 1rem 0;
}
.choose .box-detail{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    align-items: center;
    justify-content: center;
}
.choose .box-detail .detail{
    position: relative;
    background-color: #fff;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    line-height: 1.5;
    text-align: center;
}
.choose .box-detail .detail img{
    width: 100px;
}
.choose .box-detail .detail span{
    top: 5px;
    z-index: 1;
    right: 20px;
    opacity: 0.09;
    line-height: 1;
    font-weight: 700;
    font-size: 200px;
    color: var(--main-color);
    position: absolute;
}
.choose .box-detail .detail h2{
    text-transform: capitalize;

    
}
.testimonial-container{
    background-image: url('../image/cuoi.png');
    background-size: cover;
    background-position: center;
    padding: 6%;
    padding-bottom: 10%;
}
.testimonial-container .container{
    position: relative;
    perspective: 1000;
    padding-top: 2rem;
}
.testimonial-container .container .testimonial-item{
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: gray;
    max-width: 50vw;
    margin: 0 auto;
    text-align: center;
    display: none;
    padding: 1rem;
    transform-style: preserve-3d;
    animation: slide .4s linear;
    outline:0.1rem solid var(--main-color);
    outline-offset: -.5rem;
}
@keyframes slide{
    0%{
        transform: rotateX(180deg);
    }
}
#qoute{
    position: absolute;
    top: -10%;
    right: 2%;
    font-size: 5rem;
    color: var(--main-color);
}
.testimonial-container .container .testimonial-item > *{
    animation: slideContent .2s linear .4s backwards;
}
@keyframes slideContent{
    0%{
        transform: scale(.5);
        opacity: 0;
    }
}

.testimonial-container .container .testimonial-item.active{
    display: block;
}
.testimonial-container .container .testimonial-item h1{
    color:  var(--main-color);
    font-size: 1.5rem;
    padding-bottom: .5rem;
    text-transform: capitalize;
}
.testimonial-container .container .testimonial-item  p{
 
    color: #666;
    line-height: 1.5;
}
.testimonial-container .container .testimonial-item img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    padding: .5rem;
    z-index: 100;
}
.testimonial-container .left-arrow,
.testimonial-container .right-arrow{
    border-radius: 50%;
    font-size: 2rem;
    text-align: center;
}
.mission{
    background-image: url('../image/bg1.webp');
    background-position: center;
    background-size: cover;
    padding: 6% 0;
    padding-left: 4%;
    position: relative;
    overflow-x: hidden;

}
.mission .box-container .box .detail {  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    margin: .6rem 0;  
}  

.mission .box-container .box .detail h2 {  
    color: var(--main-color);  
    text-transform: capitalize;  
    margin-bottom: .5rem;  
}  

.mission .box-container .box .detail p {  
    color: #666;  
    line-height: 1.5;  
}
.mission .box-container .box .detail .img-box {  
    text-align: center;  
    margin-right: 1rem;  
}  

.mission .box-container .box .detail .img-box img {  
    width: 90px;  
    height: 90px;  
    border-radius: 50%;  
    box-shadow: var(--box-shadow);  
    padding: .5rem;  
}  

.mission .box-img {  
    display: flex;  
    gap: 1rem;  
}  

.mission .box-img img {  
    width: 50%;  
}  

.mission .box-img .img {  
    margin-bottom: -3rem;  
}  

.mission .box-img .img0{  
    margin-top: -3rem;  
}
.about-banner{
    padding: 5% 0;
}
.about-banner .box-container img{
    width: 100%;
}





































/*------ product section -----------*/  
.products {  
    background-image: url('../image/bg1.png');  
    padding: 4% 0;  
}  
.products .box-container {  
    grid-template-columns: repeat(auto-fit, 30rem);  
    gap: 1.5rem;  
    align-items: center;  
    justify-content: center;  
}
.products .box-container .box {  
    position: relative;  
    margin: 1rem;  
    overflow: hidden;  
    box-shadow: var(--box-shadow);  
}  


.products .box-container .box .stock {  
    position: absolute;  
    top: 2%;    
    left: 2%;  
    font-weight: bold;
    font-style:italic ;
    font-size: 1.2rem;  
}  

.products .box-container .box:hover .image {  
    transform: scale(1.1);  
}
.products .box-container .box .image {  
    width: 100%;  
    height: 36rem;  
    object-fit: cover;  
    transition: .5s;  
}  

.products .box-container .box .content {  
    position: absolute;  
    left: 0;  
    bottom: 0;  
    width: 100%;  
    height: 4.5rem;  
    padding: 1rem;  
    overflow: hidden;  
    transition: .5s;  
    padding-top: .3rem;  
    background-color: #fff;
}   
.products .box-container .box:hover .content {  
    height: 10rem !important;  
    padding-top: 1rem;  
}  

.cart-content {  
    height: 2rem !important;  
    padding-top: 1rem;  
}  

.products .box-container .box:hover .cart-content {  
    height: 10rem !important;  
    padding-top: 1rem;  
}  

.products .box-container .box h3 {  
    text-transform: capitalize;  
    font-size: 25px;  
}
.products .box-container .box .price {  
    position: absolute;  
    top: 4%;  
    right: 4%;  
    text-transform: capitalize;  
    color: var(--main-color);  
    font-weight: bold;  
    font-size: 1.5rem;  
    margin-bottom: 1rem;  
}  

.products .box-container .box .button {  
    display: flex;  
    justify-content: space-between;  
    margin: 1rem 0;  
}  

.products .box-container .box button {  
    box-shadow: none;  
    cursor: pointer;  
    background-color: transparent;
}
.products .box-container .box button i,  
.products .box-container .box button a {  
    color: var(--main-color);  
    margin: 0.5rem;  
    box-shadow: none;  
    font-size: 1.8rem;  
}  

.products .box-container .box button i:hover,  
.products .box-container .box button a:hover {  
    color: #000;  
}  

.products .box-container .box .flex-btn {  
    display: flex;  
    justify-content: space-between;  
    text-align: center;  
}  

.products .box-container .box input {  
    height: 50px;  
    width: 19%;  
    padding: 1rem;  
    color: var(--main-color);  
    border-radius: 0;  
    padding: 0;
    padding-left: 1rem;
    font-size: 1.4rem;
    box-shadow: var(--box-shadow);
    margin-top: 1rem;
}   
.products .box-container .box .sub-total {  
    text-transform: capitalize;  
    font-weight: bold;  
    font-size: 1.3rem;  
}  

.products .box-container .box .flex-btn .btn {  
    height: 50%;  
    width: 48%;  
    margin-top: 1rem;  
    background-color: var(--main-color);/*nút btn trong cart*/
    
}
.products .more {  
    margin: 3rem auto;  
    text-align: center;  
}  

.products .box-container .fa-edit {  
    height: 50px;  
    width: 20%;  
    cursor: pointer;  
    font-size: 1.5rem;  
    color: var(--main-color);  
    margin-top: 1rem;  
    box-shadow: var(--box-shadow);
}
.cart-total {  
    text-align: center;  
    padding: 4%;  
    margin: 2rem;  
    box-shadow: var(--box-shadow);  
}  

.cart-total p {  
    font-size: 1.4rem;  
    margin: 2rem 0;  
    text-transform: capitalize;  
    color: gray;  
}  

.cart-total p span {  
    color: var(--main-color);  
}  

.cart-total .button {  
    display: flex;  
    gap: 8px;
    align-items: center;  
    justify-content: center;  
}  

.cart-total .btn {  
    margin: .2rem;  
}
.profile {  
    padding: 5% 8%;  
    background-image: url('../image/p.png');  
    background-size: cover;  
    background-repeat: no-repeat;  
    background-position: center;  
}  
.feedbacks {  
    background-color: #fff;  
    padding: 30px;  
    border-radius: 10px;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
    margin-top: 30px;  
}  

.feedbacks .heading {  
    text-align: center;  
    margin-bottom: 20px;  
}  

.feedbacks h1 {  
    font-size: 2em;  
    color: #070611; /* Màu hồng nhẹ */  
}  

.feedbacks ul {  
    list-style: none;  
    padding: 0;  
}  

.feedbacks li {  
    background-color: #ebe4e6; /* Màu hồng nhạt */  
    margin: 10px 0;  
    padding: 15px;  
    border-radius: 5px;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
    transition: transform 0.2s, box-shadow 0.2s; /* Hiệu ứng hover */  
}  

.feedbacks li:hover {  
    transform: translateY(-2px);  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  
}  

.feedbacks strong {  
    display: block;  
    font-weight: bold;  
    color: #6a1b9a; /* Màu tím */  
    margin-bottom: 5px;  
}  

.feedbacks p {  
    margin: 0;  
    color: #555; /* Màu chữ cho phản hồi */  
}  

.feedbacks .no-feedback {  
    text-align: center;  
    color: #888; /* Màu chữ cho thông báo không có phản hồi */  
    font-style: italic;  
    margin-top: 20px;  
}  

/* Responsive Design */  
@media screen and (max-width: 600px) {  
    .feedbacks {  
        padding: 20px;  
    }  

    .feedbacks h1 {  
        font-size: 1.5em;  
    }  

    .feedbacks li {  
        padding: 10px;  
    }  
}
.profile .details {  
    border-radius: .5rem;  
    padding: 2rem;  
    box-shadow: var(--box-shadow);  
    text-transform: capitalize;  
    margin-top: 2rem;  
}  

.profile .details .user {  
    text-align: center;  
    margin-bottom: 2rem;  
}  

.profile .details .user img {  
    width: 10rem;  
    height: 10rem;  
    border-radius: 50%;  
    object-fit: cover;
    margin-bottom: .5rem;
    padding: .5rem;
    background-color: var(--main-color);
}
.profile .details .user h3 {  
    font-size: 2rem;  
    margin: .5rem 0;  
    text-transform: capitalize;  
}  

.profile .details .user p {  
    font-size: 1.2rem;  
    color: gray;  
    margin-bottom: .5rem;  
}  

.profile .details .box-container {  
    display: flex;  
    flex-wrap: wrap;  
    align-items: flex-end;  
    gap: 1.5rem;
}

.profile .details .box-container .box {  
    flex: 1 1 30rem;  
    background-color: var(--pink-opacity);  
    padding: 1.5rem 2rem;  
}  

.profile .details .box-container .box .flex {  
    display: flex;  
    align-items: center;  
    gap: 1.7rem;  
    margin-bottom: 1rem;  
    font-size: 3rem;
}  

.profile .details .box-container .box .flex i {  
    height: 3rem;  
    width: 3rem;  
    border-radius: .5rem;  
    line-height: 3.5rem;  
    text-align: center;  

}  

.profile .details .box-container .box h3 {  
    font-size: 3rem;  
    color: var(--main-color);  
    margin-bottom: .2rem;  
}  

.profile .details .box-container .box span {  
    font-size: 1.5rem;  
}
.view_page{
    background-image: url('../image/p.png');
    background-position: center;
    background-size: cover;
}
.view_page .box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    line-height: 2;
    background-color: var(--white-alfa-25) ;
}
.view_page .box .img-box{
    flex: 1 1 40rem;
    padding: 2rem;
}
.view_page .box .detail{
    padding: 1rem;
    flex: 1 1 40rem;
}
.view_page .box .img-box img{
    width: 100%;
}
.view_page .box .product-detail{
    margin: 1rem 0;
    color: gray;
}
.view_page .box .price{
    font-size: 2rem;
    color: #000;
}
.view_page .box .name{
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-color);
    text-transform: capitalize;
}
.service{
    padding: 5% 10%;
    position: relative;
    min-height: 100vh;
}
.service .box-container,
.address .box-container {  
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));  
}  

.service .box-container .box {  
    box-shadow: var(--box-shadow);  
    text-align: center;  
    padding-bottom: 2rem;
}  

.service .box-container .box img {  
    width: 150px;  
    padding: 1rem;  
    object-fit: contain;  
}  

.service .box-container .box h1 {  
    font-size: 25px;  
    color: var(--main-color);  
    margin: .5rem 0;  
    text-transform: capitalize;  
}
.address{
    padding: 5% 8%;
    min-height: 50vh;
}
.address .box-container .box{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    background-color: rgba(106, 180, 233, 0.2);
    line-height: 2;
    padding: 1rem 0;
    margin: 1rem;
}
.address .box-container .box h4{
    text-transform: uppercase;
    color: var(--main-color);
    font-size: 1.5rem;
}
.address .box-container .box i{
    font-size: 2.5rem;
    margin-right: 1rem;
    width: 80px;
    height:80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
    box-shadow: var(--box-shadow);
    background-color: var(--white-alfa-40);
    color: var(--main-color);

}
.checkout .row{
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
}
.checkout .summary{
    width: 60rem;
    padding: 1rem;
    margin: 1rem auto;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}
.checkout h3{
    font-size: 2rem;
    padding-bottom:1rem;
    text-transform: capitalize;
    text-align: center;
}
.checkout .summary .flex{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    margin: .5rem;

}
.checkout .summary .box-container{
    grid-template-columns: repeat(auto-fit , minmax(20rem, 1fr));

}
.checkout .summary .flex img{
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: .5rem;
    margin-right: 2rem;
}
.checkout .summary .flex .name{
    font-size: 1.1rem;
    padding-bottom: .5rem;
    text-transform: capitalize;
}
.checkout .summary .price{
    font-size: 1,5rem;
    color: red;
}
.summary .grand-total{
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2rem;
    margin-top: 1.5rem;
    text-transform: capitalize;
}
.summary .grand-total span{
    color: gray;
}
.summary .grand-total p{
    color: red;
}

/*----------order section---------------*/  
.orders {  
    padding: 2% 4%;  
    background-image: url('../image/p.png');  
    background-size: cover;  
    background-repeat: no-repeat;  
    background-position: center;  
  }  
  .orders .box-container {  
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 1.5rem;
  }
  .orders .box-container .box 
  {  
    box-shadow: var(--box-shadow);  
    position: relative;  
    height: 100%;  
  }  
  
  .orders .box-container .box.content {  
    display: block;  
    background-color: #fff;  
    padding: 10px;  
    padding-top: 20px;  
    text-align: center;  
    text-transform: capitalize;  
  }
  .orders .box-container .box a .row {  
    display: flex;  
    justify-content: space-between;  
  }  
  
  .orders .box-container .box .date {  
    position: absolute;  
    top: 3%;  
    left: 3%;  
    padding: .5rem 1.5rem;  
    background-color: var(--main-color);  
    color: #fff;  
    display: inline-block;  
    margin-bottom: 1.5rem;  
    border-radius: .5rem;  
  }  
  
  .orders .box-container .box .image {  
    width: 100%; 
    height: 30rem;
    object-fit: cover; 
  } 
  .orders .box-container .box .name {  
    text-transform: capitalize;  
    color: var(--main-color);  
    font-size: 1.5rem;  
  }  
  
  .orders .box-container .box .price {  
    font-size: 1.5rem;  
    color: #000;  
  }  
  
  .orders .box-container .box .status {  
    text-transform: capitalize;  
    font-size: 1.5rem;  
    margin-left: .5rem;  
  }

  .view_order{  
    padding: 4% 0%;  
    background-image: url('../image/p.png');  
    background-size: cover;  
    background-repeat: no-repeat;  
    background-position: center;  
}  

.view_order .box-container{  
    box-shadow: var(--box-shadow);  
    border-radius: .5rem;  
    padding: 0;  
    max-width: 1200px;  
    margin: 0 auto;  
}
.view_order .box-container .box {  
    display: flex;  
    gap: 1.5rem;  
    flex-wrap: wrap;  
    align-items: center;  
    justify-content: center;  
    overflow-x: hidden;  
}  

.view_order .box-container .box .col {  
    flex: 1 1 30rem;  
    position: relative;  
}  

.view_order .box-container .box .col .image {  
    width: 100%;  
    object-fit: fill;  
    box-shadow: var(--box-shadow);  
}  

.view_order .box-container .box .col:hover .detail {  
    height: 5rem;  
    padding: .5rem;  
    padding-top: 1rem;  
    border-top: 1px solid var(--main-color);  
    border-bottom: 1px solid var(--main-color);  
}
.view_order .box-container .box .col .detail{  
    width: 100%;  
    position: absolute;  
    bottom: 0;  
    display: flex;  
    justify-content: space-between;  
    background-color: #fff;  
    height: 0;  
    transition: .5s;  
    overflow: hidden;  
}  

.view_order .box-container .box .col .date{  
    position: absolute;  
    top: 5%;  
    left: 3%;  
}  

.view_order .box-container .box .col .title,  
.view_order .box-container .box .col .date{  
    border-radius: .5rem;  
    margin-bottom: 1rem;  
    padding: .5rem 2rem;  
    font-size: 1rem;  
    color: #fff;  
    background-color: var(--main-color);  
    display: inline-block;  
    text-transform: capitalize;  
}  

.view_order .box-container .box .col .title i,  
.view_order .box-container .box .col .date i{  
    margin-right: 1rem;  
    color: #fff;  
}  

.view_order .box-container .box .col .price{  
    color: crimson;  
    font-size: 1rem;  
    padding: .5rem 0;  
}
.view_order .box-container .box .col .name{
    font-size: 1.5rem;
    text-transform: capitalize;
}
.view_order .box-container .box .col .user {  
    padding: .5rem 0;  
    font-size: 1.4rem;  
}  

.view_order .box-container .box .col .user i {  
    margin-right: 1rem;  
    color: gray;  
}  

.view_order .box-container .box .col .grand-total {  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    flex-wrap: wrap;  
    font-size: 1.5rem;  
    text-transform: capitalize;  
}  

.view_order .box-container .box .col .btn {  
    width: 100%;  
}


























/*-----media screen-----------*/  
@media (max-width:991px){  
    #menu-btn {  
        display: inline-block;  
    }  
    .header .flex .navbar {  
        display: block;  
        position: absolute;  
        top: 100%;  
        left: 0;  
        right: 0;  
        background-color: #fff;  
        border-top: 1rem solid #fff3;  
        padding: 1rem 2rem;  
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);  
    }  
    .header .flex .navbar.active {  
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);  
    }  
    .header .flex .navbar a {  
        display: block;  
        margin: 1.5rem 0;  
        padding: 1rem;  
        background-color: var(--main-color);  
        text-align: center;  
        border-radius: .5rem;
        color: #fff;
    }  
    .header .flex .navbar a:hover{
        color: #000;
    }
}


 


